{% load staticfiles %}
{% load i18n %}

<!DOCTYPE html>
<html dir="rtl">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="google-site-verification" content="5wn6-sfl6Gk8ZEBWiPKIvCJ7NQs5VgU0wF9kkdBIIG8" />

        {#            <link rel="shortcut icon" type="image/x-icon" href="favicon.ico" size="32x32"/>#}
        <link rel="apple-touch-icon-precomposed" sizes="57x57" href="static/images/favicon/apple-touch-icon-57x57.png" />
        <link rel="apple-touch-icon-precomposed" sizes="114x114" href="static/images/favicon/apple-touch-icon-114x114.png" />
        <link rel="apple-touch-icon-precomposed" sizes="72x72" href="static/images/favicon/apple-touch-icon-72x72.png" />
        <link rel="apple-touch-icon-precomposed" sizes="144x144" href="static/images/favicon/apple-touch-icon-144x144.png" />
        <link rel="apple-touch-icon-precomposed" sizes="60x60" href="static/images/favicon/apple-touch-icon-60x60.png" />
        <link rel="apple-touch-icon-precomposed" sizes="120x120" href="static/images/favicon/apple-touch-icon-120x120.png" />
        <link rel="apple-touch-icon-precomposed" sizes="76x76" href="static/images/favicon/apple-touch-icon-76x76.png" />
        <link rel="apple-touch-icon-precomposed" sizes="152x152" href="static/images/favicon/apple-touch-icon-152x152.png" />
        <link rel="icon" type="image/png" href="static/images/favicon/favicon-196x196.png" sizes="196x196" />
        <link rel="icon" type="image/png" href="static/images/favicon/favicon-96x96.png" sizes="96x96" />
        <link rel="icon" type="image/png" href="static/images/favicon/favicon-32x32.png" sizes="32x32" />
        <link rel="icon" type="image/png" href="static/images/favicon/favicon-16x16.png" sizes="16x16" />
        <link rel="icon" type="image/png" href="static/images/favicon/favicon-128.png" sizes="128x128" />
        <meta name="application-name" content="&nbsp;"/>
        <meta name="msapplication-TileColor" content="#FFFFFF" />
        <meta name="msapplication-TileImage" content="mstile-144x144.png" />
        <meta name="msapplication-square70x70logo" content="mstile-70x70.png" />
        <meta name="msapplication-square150x150logo" content="mstile-150x150.png" />
        <meta name="msapplication-wide310x150logo" content="mstile-310x150.png" />
        <meta name="msapplication-square310x310logo" content="mstile-310x310.png" />            <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

        <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css" integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp" crossorigin="anonymous">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
        <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick.min.css" />
        <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick-theme.min.css" />

              <!-- <script type="text/javascript" src="//code.jquery.com/jquery-1.11.0.min.js"></script> -->
        <script type="text/javascript" src="//code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
            <script type="text/javascript" src="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"></script>


            
        {% if LANGUAGE_CODE == 'fa' %}
                <link rel="stylesheet" href="http://www.irwebdesign.ir/wp-content/uploads/bootstrap-rtl.min_.css">
        {% endif %}
        
        <link rel="stylesheet" type="text/css" href="{% static '/css/base.css' %}" />
        <link rel="stylesheet" type="text/css" href="{% static '/css/search.css' %}" />
        <link rel="stylesheet" type="text/css" href="{% static '/css/categories.css' %}" />
        <link rel="stylesheet" type="text/css" href="{% static '/css/topList.css' %}" />
        <link rel="stylesheet" type="text/css" href="{% static '/css/item.css' %}" />
        <link rel="stylesheet" type="text/css" href="{% static '/css/footer.css' %}" />
        <link rel="stylesheet" type="text/css" href="{% static '/css/categoryList.css' %}" />
        <link rel="stylesheet" type="text/css" href="{% static '/css/commentForm.css' %}" />
        <link rel="stylesheet" type="text/css" href="{% static '/css/aboutUs.css' %}" />
        <link rel="stylesheet" type="text/css" href="{% static '/css/contactUs.css' %}" />
        <link rel="stylesheet" type="text/css" href="{% static '/css/navbar.css' %}" />
        <link rel="stylesheet" type="text/css" href="{% static '/css/rules.css' %}" />
        <link rel="stylesheet" type="text/css" href="{% static '/css/errorPage.css' %}" />
        <link rel="stylesheet" type="text/css" href="{% static '/css/howitworks.css' %}" />
        <link rel="stylesheet" type="text/css" href="{% static '/css/slider.css' %}" />
        <link rel="stylesheet" type="text/css" href="{% static '/css/signUp.css' %}" />
        <link rel="stylesheet" type="text/css" href="{% static '/css/profile.css' %}" />
        <link rel="stylesheet" type="text/css" href="{% static '/css/reservationProcess.css' %}" />

    <!-- css code for basic html pages -->
        <link rel="stylesheet" type="text/css" href="{% static '/css/htmls.css' %}" />

    <!-- Global site tag (gtag.js) - Google Analytics -->
        <script async src="https://www.googletagmanager.com/gtag/js?id=UA-128776488-1"></script>
        <script>
          window.dataLayer = window.dataLayer || [];
          function gtag(){dataLayer.push(arguments);}
          gtag('js', new Date());

          gtag('config', 'UA-128776488-1');
        </script>

    <!--BEGIN RAYCHAT CODE-->
        <script type="text/javascript">!function(){function t(){var t=document.createElement("script");t.type="text/javascript",t.async=!0,localStorage.getItem("rayToken")?t.src="https://app.raychat.io/scripts/js/"+o+"?rid="+localStorage.getItem("rayToken")+"&href="+window.location.href:t.src="https://app.raychat.io/scripts/js/"+o;var e=document.getElementsByTagName("script")[0];e.parentNode.insertBefore(t,e)}var e=document,a=window,o="54f623bc-55cc-420e-9ff4-ecfd0f987295";"complete"==e.readyState?t():a.attachEvent?a.attachEvent("onload",t):a.addEventListener("load",t,!1)}();</script>

        <!--END RAYCHAT CODE-->
        <title>Error 500</title>
        <meta name="description" content="پل ارتباطی میان گردشگران و جامعه‌ی محلی برای اشتراک تجربه‌های هیجان‌انگیز"/>
    </head>

    <body>
    {% csrf_token %}
    {%load render_bundle from webpack_loader%}
    <div id="root">
        <div id="basic_html">
            {% include "navbar.html" %}
            500 item not found
            {% include "footer.html" %}
        </div>

        {% render_bundle 'main' %}
    </div>

    <!-- Uncomment to hide basic_html for users (not sure if ok) 
        <script type="text/javascript">
            document.getElementById("basic_html").style.display = "none";
        </script>
    -->
   
    </body>
</html>
