<div class="container">
  <div class="col-sm-1"></div>
  <div class="col-sm-10" id="html_container">
    <div>
      <h1 class="text-center">درباره جاده‌خاکی</h1>
      <div>
        <p>تا حالا پیش اومده که از یکنواختی سفرها خسته شده باشی؟</p>
        <p>که آخر هفته‌ها دنبال یک فعالیت یا سرگرمی جدید و جذاب باشی اما همه‌چیز تکراری شده باشه؟</p>
        <p>پس دل رو بزن به جاده‌خاکی، چون مسیر تجربه‌های هیجان‌انگیز از جاده‌خاکی می‌گذره!</p>
        <p>جاده‌خاکی سامانه ارائه تجربه‌های متفاوت و لذت‌بخش در مناطق مختلف کشوره که سعی داره به عنوان یک پل ارتباطی بین گردشگرها و جامعه محلی، سفرهای شخصی‌سازی شده‌ و جذاب‌تری رو برای گردشگرها رقم بزنه و اون‌ها رو با جامعه محلی همراه‌تر کنه.</p>
        <p>گردشگری خلاق و تجربه‌گرا موضوعیه که در دنیا جا افتاده و بسیار طرفدار داره، و جاده‌خاکی به عنوان پیشرو در ارائه این تجربه‌ها در ایران فعالیت میکنه.</p>
      </div>
    </div>
    <div class="col-sm-1"></div>
  </div>
</div>