<div class="container">
  <div class="col-sm-1"></div>
  <div class="col-sm-10" id="html_container">
    <h1 class="text-center">تماس با جاده‌خاکی</h1>
    <div id="html_contact_info">
      <h4><b>آدرس پستی</b></h4>
      <p>خیابان ولیعصر، ابتدای خیابان شهید مطهری، کوچه منصور، پلاک ۸۳، واحد ۴، استارتاپ جاده‌خاکی</p>
      <br />
      
      <h4><b>شماره تماس</b></h4>
      <p>۰۲۱-۸۸۵۵۶۵۱۹‌</p>
      <p>۰۲۱-۲۸۴۲۶۲۰۶‌</p>
      <p>۰۹۳۸۳۱۳۷۴۶۶</p>
      <br />
      
      <h4><b>پشتیبانی تلگرام</b></h4>
      <p><a href="http://www.t.me/jadehkhaki_support"> http://www.t.me/jadehkhaki_support </a></p>
      <br />
      
      <h4><b>ایمیل</b></h4>
      <p>info@jadehkhaki.com</p>
    </div>
  </div>
  <div class="col-sm-1"></div>
</div>