<div class="text-center" id="html_footer">
  <a href="/contact-us">تماس با ما</a>
  <b id="dot">.</b>
  <a href="/about-us">درباره ما</a>
  <b id="dot">.</b>
  <a href="/rules">قوانین و مقررات</a>
</div>