<div class="jumbotron text-center">
  <h1>جاده‌خاکی</h1>
  <h4>مسیر تجربه‌های هیجان‌انگیز</h4>
</div>


<div>
    <div>
    	<h2 class="text-center">دنبال چی میگردی؟</h2>
    	<h3 class="text-center">تجربه‌‌ی لذت‌بخش اقامت به سبک محلی و لمس تجربه‌های هیجان‌انگیز</h3>

        <div class="text-center">
        	<a href="/homes"><button class="btn" id="html_category">اقامتگاه</button></a>
        	<a href="/experiences"><button class="btn" id="html_category">تجربه</button></a>
        </div>
    </div>
</div>

<br><br><br>

<div>
    <div class="text-center">
        <div>
        	<h2>سایت ما چطور کار میکنه؟</h2>

            <div>
                 <ul>
    
    		            <li>
    		              <h3>پیدا کن!</h3>
    		              <p class="text-center">مقصد سفرت رو جستجو کن و پیشنهادهای هیجان‌انگیز جاده‌خاکی رو ببین.  میزبانان ما بهترین و متفاوت‌ترین تجربه‌ها رو در موضوعات مختلف با شما به اشتراک میذارن.</p>
    		            </li>
    		            
    		            <li>
    		              <h3>رزرو کن!</h3>
    		              <p class="text-center">تجربه‌ی مورد نظر خودتون رو پیدا کردید؟ درخواست رزرو  رو به صورت آنلاین ثبت کنید تا هماهنگی‌های لازم برای لمس یک تجربه‌ی جدید برای شما فراهم بشه.</p>
    		            </li>
    		            
    		            <li>
    		              <h3>لذت ببر!</h3>
    		              <p class="text-center">شما به مقصد رسیدید! میزبان شما با آغوش باز از شما پذیرایی خواهد کرد. تجربه فوق العاده‌ای داشته باشید.</p>
    		            </li>

            	</ul>
            </div>
        </div>
    </div>
</div>
