
<div class="jumbotron text-center" style="margin-bottom:0">
  <h1>{{ home_title }}</h1>
  <h4>{{ home_tiny_explanation }}</h4>
</div>

<div class="container" style="margin-top:30px">
  <div class="row">
    
    <div class="col-sm-8" style="padding:3%">
      <h4>آدرس: {{ home_address }}</h4>
      <h5>{{ home_explanation }}</h5>
      
    </div>
    
    <div class="col-sm-4" style="padding:3%">
      <h2>رزرواسیون</h2>
      <h5>جهت انجام هماهنگی برای رزرو یا دریافت اطلاعات بیشتر می‌توانید از یکی از روش‌های زیر اقدام کنید:</h5>
      <br>
      <h5>ارتباط با اکانت تلگرام پشتیبانی:   t.me/jadehkhaki_support</h5>
      <h5>تماس با شماره ثابت:   ۲۸۴۲۶۲۰۶-۰۲۱</h5>
      <h5>تماس با تلفن همراه:   ۰۹۳۸۳۱۳۷۴۶۶</h5>
      
    </div>
    
  </div>
</div>
