<div class="jumbotron text-center" style="margin-bottom:0">
  <h1>{{ h1 }}</h1>
  <h4>{{ page_description }}</h4>
</div>


<div id="html_category_items">
	{% for item in items %}

		<a class="html_category_item" href="/{{category}}/{{item.1}}">
        <div class="html_category_item_div">
            {{item.0}}
        </div>
    </a>
		
	{% endfor %}
</div>