<nav class="navbar" id="html_nav">
  <a class="navbar-brand" href="/">جاده‌خاکی</a>
  <a href="/homes" id="link">اقامتگاه</a>
  <a href="/experiences" id="link">تجربه</a>
  <a href="http://blog.jadehkhaki.com/" target="_blank" id="blog_link">وبلاگ جاده‌خاکی</a>
</nav>