<div class="container">
  <div class="col-sm-1"></div>
  <div class="col-sm-10" id="html_container">
    <h1 class="text-center">قوانین و مقررات جاده‌خاکی</h1>
    <div>
      <ul>
        <li>جاده‌خاکی تنها یک خدمات نرم‌افزاری است که ارتباط بین میهمانان و میزبانان را جهت توافق بر انجام یک اقامت یا ارائه تجربه فراهم می‌کند.</li>
        <li>مسئولیت کلیه رزروهای ثبت شده از طریق جاده‌خاکی بر عهده ما است و جاده‌خاکی تصمین می‌کند تا بتوانید به راحتی در اقامتگاه یا محل تجربه مورد نظر پذیرش شده و از امکانات آن بهره‌مند شوید. در موارد نادری ممکن است به دلایل مختلف از جمله مشکلات اعلام شده از طرف میزبان نظیر خرابی‌ها و حوادث طبیعی، اشتباهات انسانی و…، رزرو ثبت شده با مشکل مواجه گردد؛ در این گونه موارد جاده‌خاکی تمام تلاش خود را می‌کند تا برای مسافرین خود، اقامتگاهی مشابه با واحد رزرو شده فعلی در نظر گیرد یا تجربه‌ای به دلخواه کاربر جایگزین تجربه لغو شده نماید، و درصورت عدم موفقیت در جلب رضایت مشتری، مبلغ را به صورت کامل بازگردانده و امتیاز ویژه‌ای را برای رزرو آتی وی منظور نماید.</li>
        <li>با توجه به تنوع اقامتگاه‌های بومگردی و خدمات ارائه شده توسط میزبانان تجربه، هر میزبان مختار است قوانین و مقررات اختصاصی خود را داشته باشد که در قسمت معرفی هر یک قابل مشاهده است. کاربران باید قوانین و شرایط میهمان و میزبان در هر مورد را به صورت جداگانه و کامل مطالعه نمایند.</li>
        <li>همچنین موارد فرهنگی و محیط‌زیستی مربوط به اقامتگاه یا تجربه ارائه شده در صفحه مربوط به هر کدام ذکر می‌شود که میهمان موظف است آن را رعایت کند.</li>
        <li>همراه داشتن اشیاء غیرمجاز از جمله مشروبات الکلی، مواد مخدر، سلاح یا سایر اشیاء یا حیواناتی که طبق قانون جمهوری اسلامی ایران مجاز نیست در محل اقامت خلاف قوانین است و مسئولیت آن را شخص خاطی بر عهده دارد.</li>
        <li>کاربر میهمان متعهد است هیچ یک از موارد موضوع قبل را به همراه نداشته باشد، در غیر این‌صورت چنانچه پس از پذیرش درخواست رزرو و عزیمت میهمان به محل اقامت، میزبان با موارد فوق مواجه شود، مجاز به لغو (امتناع از انجام) اقامت بوده و مسٔولیت جبران خسارات وارده برعهده کاربر میهمان است.</li>
        <li>وسایل همراه میهمان باید متناسب با فضای داخل محل اقامت بوده به نحوی که متعارف محسوب شود.</li>
        <li>کاربر می‌پذیرد بیشترین تعداد میهمانانی که در یک مکان اقامتی می‌توانند اقامت نمایند مطابق با ظرفیت آن مکان و توافق با میزبان است و در صورت تخطی، میهمان مسئول پرداخت جریمه است.</li>
        <li>اخذ هرگونه هزینه اضافه بر مبلغ درج شده در سامانه جاده‌خاکی توسط میزبان از میهمان مجاز نیست.</li>
        <li>مسئولیت همۀ اقدامات و افعال کاربران میهمان و میزبان که ناشی از عدم رعایت قوانین موضوعه جمهوری اسلامی ایران از جمله قانون مجازات اسلامی (ارتکاب جرم در هنگام اقامت یا انجام تجربه) و قوانین مدنی (ورود خسارت به اموال کاربر) باشد، برعهده شخص متخلف بوده و جاده‌خاکی هیچ گونه مسئولیتی در قبال اعمال و افعال فوق نداشته و نخواهد داشت.</li>
        <li>مسئولیت رعایت همه قوانین و مقررات معماری و شهرسازی و مهندسی ساختمان از جمله استحکام بنا برعهده میزبان است.</li>
        <li>مسئولیت هرگونه محتوایی که در بخش معرفی اقامتگاه و تجربه وارد شده، به صورت کامل بر عهده فرد ارائه دهنده است.</li>
        <li>مسئولیت نگهداری و حفظ اموال و اشیا از جمله طلا، جواهرآلات و وجه نقد میهمان به عهده وی است و جاده‌خاکی و میزبان هیچ مسئولیتی در این زمینه ندارند.</li>
        <li>همراه داشتن مدارک سجلی و اوراق شناسایی در زمان مراجعه به محل اقامت الزامی است و جاده‌خاکی هیچ گونه مسئولیتی در این مورد نخواهد داشت.</li>
        <li>شرط استفاده از محل اقامت داشتن محرمیت مطابق با شرع مقدس اسلام است و ارائه مدارک لازم جهت اثبات محرمیت در زمان مراجعه به محل اقامت الزامی است.</li>
        <li>کاربر متعهد به رعایت همه قوانین اسلامی، شرعی، اخلاقی و اجتماعی جمهوری اسلامی ایران از جمله رعایت حجاب مناسب در هنگام استفاده از جاده‌خاکی است.</li>
      </ul>
    </div>
  </div>
  <div class="col-sm-1"></div>
</div>

