
#aboutUsHeader{
	text-align: center;
}

.grid{
   margin-top: 3em;
}
.avatar{
	border-radius: 50%;
	border: 10px solid #efefef;
    width: 14em;
}

.member{
	display: inline-block;
	text-align: center;
	width: 33%;
}

.member>a{
   font-family: 'FontAwesome' !important;
   font-size: 1.5em;
   color: #2f2929bf;
   padding-left: 5px;
   vertical-align: middle;
}

.memberEmail:after{
   content: "\f0e0";
   font-size: 1em!important;
   	
}

.memberLinkedin:after{
   content: "\f08c";
   
}

.memberInstagram:after{
	content: "\f16d";
}

.memberTwitter:after{
	content: "\f099";
}

.memberWebsite:after{
	content: "\f007";
}

.member a:hover:after{
   color: #ff4d5a;
}

li.member{
   cursor: inherit;
}

.entry-content ul{
   text-align: center;
}

@media only screen and (max-width: 900px){
   .member {
      width: 100%;
   }
}