html {
	height: 100%;
}

@font-face {
    font-family: 'BYekan';
    src:url('../fonts/BYekan.eot?#') format('eot'),
		url('../fonts/BYekan.woff') format('woff'),
		url('../fonts/BYekan.ttf') format('truetype');
	font-weight: normal;
    font-style: normal;
}

body{
	font-family: 'BYekan';
    font-size: 16px;
    position: relative;
    min-height: 100%;
}

.mainBody {
	padding-bottom: 140px;	/* for the footer */
}

a {
	text-decoration: none !important;
	color: black;
}

a, button {
    cursor: pointer;
}

ul {
	list-style: none;
	padding-right: 0;
}

p {
	color: #444;
	text-align: justify;
}

li, td {
	color: #444;
}

h1, h2, h3, h4, h5, h6, th {
	color: #222;
}

.title_box {
	margin-right: 7%;
	margin-bottom: 3%;
	margin-top: 9%;
}

#main_name {
	color: #FF5A5F;
	font-weight: bold;
	font-size: 6rem;
}

#main_info{
	color: #ffffff;
	margin-bottom: 3%;
	font-size: 3rem;
}

/*.flag {
	display: inline-block;
	width: 25px;
	height: 17px;
	vertical-align: middle;
}*/


.main_content {
	padding: 3%;
}

.raychat_main_button {
	transform: scaleX(-1) !important;
}

#raychat_main_button_count_s {
	transform: scaleX(-1) !important;
}

@media only screen and (max-width: 500px){
    #main_name {
		font-size: 4rem;
		text-align: center;
	}

	#main_info{
		font-size: 2rem;
		text-align: center;
	}

	.title_box {
		margin-right: 0!important;
		margin-bottom: 0!important;
	}
}
