.front-page-section {
	padding: 2%;
}

.front-page-section#categories-list {
	height: 545px;
}

.section-wrap {
    padding: 1%;
}

.widget-title {
	font-size: 4rem;
    margin-bottom: 30px;
    text-align: center;
	font-weight: 700;
	display: block;
}

.widget-subtitle {
	color: #919191;
	margin-top: 1%;
	display: block;
    font-size: 2rem;
}

.categories {
	display: flex;
	list-style-type: none;
	justify-content: center;
    margin: 0;
    padding : 0;
}

.category-item {
	margin: 1%;
	height: 300px;
    width: 400px;
    max-width: 50%;
}

.category {
	width: 100%;
	height: 100%;
}

.category-cover {
	border-radius: 4px;
	background-position: center;
	background-size: cover;
	display: flex;
	flex-direction: column;
    overflow: hidden;
	box-shadow: inset 0 0 0 1000px rgba(0,0,0,.4);
	width: 100%;
	height: 100%;
}

.category-cover#homes {
	background-image: url(../images/homePage/home-cover.jpg);
}

.category-cover#experiences {
    background-image: url(../images/homePage/experience-cover.jpg)
}

.category-text {
	color: white;
    font-size: 4rem;
    text-align: center;
	vertical-align: middle;
	line-height:300px;
}

.category-cover a:hover {
	color: cornsilk;
	text-decoration: none;
}

.category-cover a:active {
	color: cornsilk;
	text-decoration: none;
}

.category-cover a:focus {
	color: cornsilk;
	text-decoration: none;
}

.category-cover a:visited {
	color: cornsilk;
	text-decoration: none;
}

@media only screen and (max-width: 900px){
	.front-page-section#categories-list {
		height: 520px;
	}
}


@media only screen and (max-width: 570px) {
	.widget-title {
		font-size: 3rem;
	}

	.front-page-section#categories-list {
		height: 400px;
	}

	.category-item {
		width: 210px;
    	height: 230px;
    	max-width: 50%;
	}

	.category-text {
		font-size: 3rem;
		line-height:230px;
	}
}

@media only screen and (max-width: 400px) {
	.front-page-section#categories-list {
		height: 390px;
	}

	.category-item {
		width: 210px;
    	height: 210px;
    	max-width: 50%;
	}

	.category-text {
		font-size: 3rem;
		line-height:210px;
	}
}