.categoryList-wrap {
    margin-top: 3em;
}

.category-search-div {
    background-color: #f9f9f9;
    padding-top: 2%;
    padding-bottom: 2%;
    border-bottom: 1px solid #e3e3e3;
}

.searchLoadingElement {
    margin: auto;
    margin-top: 5%;
    text-align: center;
}

.categoryList {
    display: flex;
    flex-wrap: wrap;
    margin-top: 2%;
    padding: 0 3%;
}

.category-card-div {
	margin: 20px;
	box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    border-radius: 8px;
	height: 310px;
	background-color: rgba(255, 255, 255, 0.18);
}

.category-card-div:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.category-gallery-card {
    width: 25%;
}

.category-card {
	text-decoration: none;
	color: #FF5A5F;
}

.category-card:hover {
	color: #FF5A5F;
	text-decoration: none;
}

.category-card-image {
	border-radius: 8px 8px 0 0;
	height: 60%;
	width: 100%;
	object-fit: cover;
}

.category-card-info {
    padding: 2% 5%;
    height: 40%;
    position: relative;
}

.category-card-title{
    font-size: 2.5rem;
	text-decoration: none;
	color: #FF5A5F;
	white-space: nowrap;
	text-overflow: ellipsis;
    overflow: hidden;
    width: 100%;
}

.category-card-explanation {
	color: #ababab;
	font-size: 1.6rem;
	padding-top: 4%;
	white-space: nowrap;
	text-overflow: ellipsis;
	overflow: hidden;
}

.category-card-location {
    display: flex;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    width: 90%;
    position: absolute;
    bottom: 0;
    font-size: 1.7rem;
}

.category-card-location i {
    padding-left: 5px;
}

.category-card-location p {
    color: #9a9494;
}

.cardPrice {
    color: #f6595f;
    font-size: 2rem;
}


@media only screen and (max-width: 1400px){
    .categoryList {
        padding: 0 5%;
    }

    .category-gallery-card {
        width: 33.33%;
    }

    .category-card-div {
        height: 315px;
    }
}

@media only screen and (max-width: 1200px){
    .categoryList {
        padding: 0 15%;
    }

    .category-gallery-card {
        width: 48%;
        max-width: 400px;
        margin: 0 1%;
    }
}

@media only screen and (max-width: 1100px){
    .categoryList {
        padding: 0 12%;
    }
}

@media only screen and (max-width: 1000px){
    .categoryList {
        padding: 0 8%;
    }

    .category-search-div {
        padding-top: 6%;
        padding-bottom: 5%;
    }
}


@media only screen and (max-width: 900px){
    .categoryList {
        padding: 0 4%;
    }

    .category-gallery-card {
        width: 50%;
        margin: 0;
    }
}

@media only screen and (max-width: 800px){
    .categoryList {
        margin-top: 7%;
        display: block;
    }

    .category-gallery-card {
        margin: auto;
        width: 100%;
        max-width: 420px;
        margin-bottom: 38px;
    }
}

@media only screen and (max-width: 550px) {
    .category-gallery-card {
        min-width: 280px;
    }
}

@media only screen and (max-width: 470px){
    .category-card-div {
        height: 68vw;
    }
}

@media only screen and (max-width: 440px){
    .category-card-explanation {
        padding-top: 2%;
    }
}

@media only screen and (max-width: 400px){
    .category-card-explanation {
        padding-top: 1%;
    }
}

@media only screen and (max-width: 390px){
    .category-card-explanation {
        padding-top: 2%;
    }

    .category-card-div {
        height: 75vw;
    }
}

@media only screen and (max-width: 350px){
    .category-card-explanation {
        padding-top: 0;
    }
}

@media only screen and (max-width: 330px){
    .category-card-explanation {
        padding-top: 0;
    }

    .category-card-explanation{
        font-size: 1.5rem;
    }

    .category-card-location {
        font-size: 1.5rem;
    }
}