
#comment{
    box-shadow: none;
    font-size: 1.5vw;
    line-height: normal;
    background: white;    
    display: block;
    vertical-align: middle;
    width: 100%;
    -webkit-appearance: none;
}

#reply-title{
    padding-bottom: 1.0625rem;
    border-bottom: 1px solid rgba(0, 0, 0, 0.075);
}

label {
    display: block;
    max-width: 100%;
    margin-bottom: 0.5rem;
    font-weight: 700;
    margin-top: 1em;
}

.comment-form-author{
    display: inline-block;
    width: 45%;
    margin-left: 1em;
}

.comment-form-email{
    display: inline-block;
    width: 50%;
}

.comment-form-submit{
    text-align: left;
}

input, #comment{
    display: block;
    vertical-align: middle;
    width: 100%;
    -webkit-appearance: none;
    border-width: 1px;
    border-style: solid;
    border-color: rgba(0, 0, 0, 0.075);
    border-image: initial;
    border-radius: 3px;
    outline: 0px;
    padding: 0.8125rem 0.9375rem;
    font-size: 14px;
}