#address:before{
  font-family: 'FontAwesome' !important;
   content: "\f0e0";
   color: #333;
   padding-left: 5px;
   vertical-align: middle;
}

#phoneNumber:before{
  font-family: 'FontAwesome' !important;
   content: "\f095";
   color: #333;
   padding-left: 5px;
   vertical-align: middle;
}

.contactP{
	direction: ltr;
    text-align: center;
}

.fa-telegram-plane{
   color: #333;
   padding-left: 5px;
   vertical-align: middle;
}

#email:before{
  font-family: 'FontAwesome' !important;
   content: "\f1fa";
   color: #333;
   padding-left: 5px;
   vertical-align: middle;
}

.form-group .required:after {
  content:" *";
  color:red;
}

.label-error-div {
  display: flex;
}

.error {
  padding-right: 1%;
}

.anti-spam {
  display: none;
}

.buttonload {
    border: none;
    margin-right: 8px;
    margin-top: 1px;
    font-size: 16px;
    vertical-align: middle;
}