#errorImage{
	display: block;
	margin: auto;
	width: 90%;
	max-width: 1000px;
}

#errorDiv{
	margin-top: -10%;
}

#errorTextDiv {
	text-align: center;
	transform: translate(0%, 200%);
}

#errorPageLink {
	font-size: 1.5em;
	color: #f6585f;
}

.redirectingElement {
	border: none;
    margin-right: 8px;
    margin-top: 54px;
    font-size: 90px;
    vertical-align: middle;
}

#redirectingHeader {
	color: #af4858;
}

#noSearchResultDiv {
	width: 100%;
	margin-top: -60px;
}

#noSearchResultHeader {
	font-size: 1.6em;
	text-align: center;
	position: relative;
	top: 40%;
	left: 50%;
	transform: translate(-50%, -50%);
}

#noSearchResultImg {
	display: block;
	margin: auto;
	max-width: 95%;
}

@media only screen and (max-width: 1000px){
	#errorTextDiv {
		transform: translate(0%, 160%);
	}
}

@media only screen and (max-width: 800px){
	#errorTextDiv {
		transform: translate(0%, 110%);
	}

	#noSearchResultHeader {
		transform: translate(-50%, 605%);
	}
}

@media only screen and (max-width: 650px){
	#errorTextDiv {
		transform: translate(0%, 70%);
	}

	#noSearchResultHeader {
		font-size: 1.3em;
	}

	#noSearchResultHeader {
		transform: translate(-50%, 560%);
	}
}

@media only screen and (max-width: 450px){
	#errorTextDiv {
		transform: translate(0%, 45%);
	}

	#noSearchResultDiv {
		margin-top: -55px;
	}

	#noSearchResultHeader {
		font-size: 1em;
	}

	#noSearchResultHeader {
		transform: translate(-50%, 560%);
	}
}