.footerArea {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  margin-top: -140px;
}

.footerSocialNetworks{
  background-color: #2f2929;
  color: #ffffff;
  margin-top: 1rem;
}

.socialMedia{
    display: inline-block;
    width: 3em;
    margin: 0.5em;
    padding: 0!important;
}

.socialMedia>a>svg{
  fill: #FFFFFF;
}

#socialNetworks{
  text-align: center;
  vertical-align: middle;
  padding: 0;
  margin-bottom: 0;
}

.footerTextArea{
  text-align: center;
  background-color: #261e1e;
  color: #adadb2;
}

.footerTextArea li{
  display: inline-block;
}

.footerTextArea ul{
  padding-right: 0; 
  margin-bottom: 0;
}

.footerLink{
  color: white;
  padding: 1rem;
}


.footerLink:hover{
   color: #ff4d5a!important;
}

.socialMedia>a>svg:hover{
   fill: #ff4d5a!important;
}

#footerList>li{
  padding: 0;
}

#dot{
  color: white;
  font-size: 40px;
  cursor: initial;
}

#lastLink:after{
  content: ""!important;
}

@media only screen and (max-width: 991px) {
  .itemPageFooterArea {
    bottom: 65px !important;
  }
}


@media only screen and (max-width: 350px) {
  .socialMedia {
    width: 2.3rem;
  }

  .footerLink {
    padding: 0.5rem;
  }
}