.front-page-section#howItWorks {
  
}

.normalScreenHIW {
  display: inherit;
  background-color: #F9F9F3;
  border-bottom: 1px solid rgba(0, 0, 0, 0.075);
  border-top: 1px solid rgba(0, 0, 0, 0.075);
}

.smallScreenHIW {
  display: none;
}

.step{
  display: inline-block;
  text-align: center;
  width: 33%;
  cursor: inherit;
  vertical-align: middle;
}

.step>p {
  text-align: center;
}

.steps-list {
  display: flex;
  list-style-type: none;
  justify-content: center;
  margin: 0;
  padding : 0;
}

.stepArrow{
  width: 23%;
  cursor: inherit;
}

.stepImage{
  border-radius: 50%;
  border: 10px solid #efefef;
  width: 14em;
}

.arrow{
   padding-top: 40%;
}


@media only screen and (max-width: 1120px){
   .arrow{
      display: none;
   }
}

@media only screen and (max-width: 800px){
  .steps-list{
        display: block;
        margin-top: 3%;
        margin-bottom: 3%;
  }

   .step {
      width: 100%;
   }

   .normalScreenHIW {
    display: none;
   }

   .smallScreenHIW {
    display: inherit;
   }

}