/* navbar */

#html_nav {
	background-color: #e4e1e1;
	margin-bottom: 0;
	border-radius: 0;
}

#html_nav>.navbar-brand {
	float: right;
}

#html_nav>#link {
	float: right;
	transform: translateY(53%);
	margin-left: 10px;
}

#html_nav>#blog_link {
	float: left;
	margin-left: 15px;
	transform: translateY(53%);
}


/* footer */

#html_footer {
	margin-top: 50px;
    background-color: #e4e1e1;
}


/* about-us, contact-us, and rules pages */

#html_container {
	margin-top: 5%;
	padding:2%;
	background-color: #f9f9f9;
	border-radius: 20px;
}


/* contact-us */

#html_contact_info>p {
	margin-right: 15px;
}


/* homePage */

#html_category {
	margin: 5px;
	font-size: 2.5rem;
	width: 130px;
    height: 80px;
}


/* category pages */

#html_category_items {
	display: flex;
	flex-wrap: wrap;
	margin: 3%;
}

.html_category_item {
	width: 23%;
	text-align: center;
	margin: 1%;
}

.html_category_item_div {
	border-width: 2px;
    border-style: groove;
    margin: auto;
    padding: 3%;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

@media only screen and (max-width: 550px) {
	.html_category_item {
		width: 48%;
	}
}


