/*.breadcrumbs{  
  padding-left: 0;
  margin-top: 0;
  margin-bottom: 0;
  list-style: none;

  display: flex;
  flex-wrap: wrap;
}

.breadcrumbs__item{
  display: inline-block;
  position: relative;
  padding-right: 15px;
  margin-right: 15px;
}

.breadcrumbs__item:after{
  content: "»";
  width: 20px;
  line-height: 1;
  text-align: left;
  font-size: 20px;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

.breadcrumbs__item_active{
  color: #AAA;
}

.breadcrumbs__item_active:after{
  display: none;
}
.breadcrumbs__element{
  color: inherit;
}*/

.modal {
  text-align: center;
  padding: 0!important;
}

.modal:before {
  content: '';
  display: inline-block;
  height: 100%;
  vertical-align: middle;
  margin-right: -4px;
}

.modal-dialog {
  display: inline-block;
  text-align: left;
  vertical-align: middle;
}


.hostAvatar{
  box-shadow: 0 2px 10px 0 rgba(0,0,0,0.2);
  border-radius: 50%;
  border: 10px solid #efefef;
  width: 7em;
  height: 7em;
 background-size: cover;
}


th,td{
  text-align: center;
}

.itemHeader{
  color: #FF5A5F;
  font-weight: bold;
  font-size: 5rem;
}

.row{
  margin-right: 0;
  margin-left: 0;
}

.itemDescription{
  color: #ababab;
  font-size: 2rem;
  margin-bottom: 17px;
  margin-top: 12px
}

.listing-contact{
  color: #484848;
  font-size: 2rem;
}

div.single-meta {
  text-align: left;
}

a.listing-contact:before{
  margin-right: 0.3125rem;
  position: relative;
  top: 0.05em;
  background-color: white;
}

.favorite:before{
  font-family: 'FontAwesome' !important;
   content: "\f004";
   color: #ff4d5a;
   padding-left: 5px;
   vertical-align: middle;
}

.review:before{
  font-family: 'FontAwesome' !important;
   content: "\f086";
   color: #ff4d5a;
   padding-left: 5px;
   vertical-align: middle;
}

.review:hover{
   color: #ff4d5a;
}

.review{
  display: none;
}

.share:before{
  font-family: 'FontAwesome' !important;
   content: "\f1e0";
   color: #ff4d5a;
   padding-left: 5px;
   vertical-align: middle;
}


#itemDescriptionRow {
  background-color: #f9f9f9;
  padding: 2.5em !important;
  margin-top: 1em;
  margin-bottom: 1em;
  border-radius: 0.5em;
}

.single-action-buttons{
  font-size: 2rem;
}

.table-borderless>tbody>tr>td, .table-borderless>tbody>tr>th {
    border: none;
}

.servicesTableTitle {
  padding-bottom: 10px;
  border-bottom: 1px solid #ddd;
  margin-bottom: 5px;
}

.servicesTable>tbody>tr>td {
  text-align: left;
  padding-left: 6%;
  padding-right: 3%;
}

.servicesTable>tbody>tr>th {
  text-align: right;
  padding-right: 6%;
  padding-left: 3%;
}

.itemSummary {
  padding: 1em;
  border-bottom: 1px solid #d8d3d3;
}

.image{
  height: 500px !important;
  object-fit: cover !important;
}

li:before{
  font-family: 'FontAwesome' !important;
  color: #000000;
  padding-left: 5px;
  vertical-align: middle;
  display: inline-block;
  width: 2em;
}
.pet:before{
   content: "\f1b0";
}

.wifi:before{
   content: "\f1eb";
}

.car:before{
   content: "\f1b9";
}

.iron:before{
  content: url("/static/images/icons/iron.svg");
}

.cooler:before{
  content: url("/static/images/icons/cooler.svg");
}

.washing_machine:before{
  content: url("/static/images/icons/washingMachine.svg");
}

.heater:before{
  content: url("/static/images/icons/heater.svg");
}

.water:before{
  content: url("/static/images/icons/water.svg");
}

.shampoo:before{
  content: url("/static/images/icons/shampoo.svg");
}

.breakfast:before{
  content: url("/static/images/icons/breakfast.svg");
}

.public_bath:before{
  content: url("/static/images/icons/bath.svg");
}

.tv:before{
  content: url("/static/images/icons/tv.svg");
}

.parking:before{
  content: url("/static/images/icons/parking.svg");
}

.credit_card:before{
  content: url("/static/images/icons/creditCard.svg");
}

.internet:before{
  content: url("/static/images/icons/internet.svg");
}

.public_wc:before{
  content: url("/static/images/icons/wc.svg");
}

.kitchen:before{
  content: url("/static/images/icons/kitchen.svg");
}

.electricity:before{
  content: url("/static/images/icons/electricity.svg");
}

.bed:before{
  content: url("/static/images/icons/pillow.svg");
}

.supplySVG{
  fill: black!important;
}

#supplyLI{
    font-size: 14px;
    cursor: auto;
}

h4:before{
  font-family: 'FontAwesome' !important;
  color: #101010bd;
  padding-left: 5px;
  vertical-align: middle;
}

.host:before{
   content: "\f007";
}

.address:before{
  content: "\f041";
}

.clock:before{
  content: "\f017";
}

.users:before{
  content: "\f0c0";
}

.dollar:before{
  font-family: 'FontAwesome' !important;
  color: #101010bd;
  padding-left: 5px;
  vertical-align: middle;
  content: "\f155";
}


#suppliesList{
  -webkit-columns: 3; /* Chrome, Safari, Opera */
  -moz-columns: 3; /* Firefox */
  columns: 3;
}

#reservationBGBox{
  background-color: #febcc22e;
  padding: 2.5em !important;
  margin-top: 1em;
  margin-bottom: 1em;
  border-radius: 0.5em;
}

#reservationDetails {
  background-color: white;
  padding: 1em;
  border-radius: 0.5em;
  margin-bottom: 0;
  margin-top: 0;
}

.fa-mobile-alt {
   color: #333;
   padding-left: 5px;
   vertical-align: middle;
   font-family: Font Awesome\ 5 free !important;
}

.centerText {
  text-align: center;
}

.sticky {
  top: 65px;
  position: fixed;
}

#reservationBoxDiv {
  width: 31vw;
}

.fa-at {
   color: #333;
   padding-left: 5px;
   vertical-align: middle;
   font-family: Font Awesome\ 5 free !important;
}

.centerText {
  text-align: center;
}

.sticky {
  top: 65px;
  position: fixed;
}

#reservationBoxDiv {
  width: 31vw;
}

.reserveButton {
  background-color: #f6595fd1;
  color: white;
  padding: 12px;
  margin: 10px 0;
  margin-top: 18px;
  border: none;
  width: 100%;
  border-radius: 30px;
  cursor: pointer;
  font-size: 17px;
}

.reserveButton:hover {
  color: #fef3f4;
}

.reserveButton:focus {
  outline: 0 !important;
  color: white !important;
}

#reservationModal input[type=text] {
  border-radius: 30px !important;
}

#reservationModal input[type=number] {
  border-radius: 30px !important;
}

.datePicker {
  display: flex;
  margin-top: 30px;
  margin-bottom: 25px;
}

.datePicker div {
  margin: auto;
}

.datePicker b {
  margin: auto;
  text-align: right;
  color: #7e5d5f;
}

.datePickerItem {
  display: flex;
  width: 50%;
}

.JDatePicker {
  width: 235px !important;
}

.reservationLabel {
  width: 135px;
  text-align: right;
}

.personNum {
  max-width: 60px;
  margin: auto;
}

.roomRadioButton {
  border: 0;
}

.roomRadioLabel {
  cursor: pointer;
  margin-top: 0;
}

.reservationTable {
  border-collapse: unset !important;
}

.reservationTable>tbody>tr>td {
  vertical-align: middle;
}

.calculatedPrice {
  padding: 1%;
  color: #f7767e;
  text-align: center;
  font-size: 2rem;
}

.reservationDetailsButtonsDiv {
  display: flex;
  padding: 1% 4%;
}

.reservationDetailsButton {
  margin: auto;
  width: 45%;
  border-radius: 30px;
  font-size: 1.7rem;
}

.reservationDetailsButton:focus {
  outline: 0 !important;
  color: white !important;
}

.checkedOption {
  background-color: #f8a0a6;
  height: 28px;
  width: 40px;
}

.checkedOption:before {
  content: '\2714';
}

.checkedOption:focus {
  outline: 0 !important;
  color: black !important;
}

.uncheckedOption {
  background-color: #e2e2e2;
  height: 28px;
  width: 40px;
}

.uncheckedOption:after {
  content: '\2716';
}

.uncheckedOption:focus {
  outline: 0 !important;
  color: black !important;
}

#smallScreenReservationBox {
  display: none;
}

#fixedBottomDiv {
  display: none;
  background-color: #1d1616;
  width: 100%;
  height: 65px;
  position: fixed;
  bottom: 0;
  z-index: 4;
  padding: 0 10%;
}

.bottomButton {
  margin: auto;
  width: 40%;
  background-image: linear-gradient(to bottom,#fd595f 0,#c12e2a 100%);
  font-size: 1.7rem;
}

.orderInfosCategoryHeader {
  text-align: center;
  color: #f65958;
}

.handleReservationWarning {
  text-align: center;
}

.handleReservationDetails {
  text-align: right;
  padding: 1% 12%;
}

@media only screen and (max-width: 768px){
  #reservationBGBox{
    padding: 1em !important;
  }

  #itemDescriptionRow {
    padding: 1em !important;
  }
}
@media only screen and (max-width: 991px){
  #smallScreenReservationBox {
    display: inherit;
    margin-bottom: 80px;
  }

  #fixedBottomDiv {
    display: flex;
  }


  #normalScreenReservationBox {
    display: none;
  }
}

@media only screen and (max-width: 550px){
  .modal-dialog {
    max-width: 300px;
  }

  .datePicker {
    display: block;
    margin-bottom: 15px;
  }

  .datePickerItem {
    padding-bottom: 3%;
    width: unset;
  }

  .reservationDetailsButtonsDiv {
    display: block;
  }

  .reservationDetailsButton {
    width: 80%;
    display: flow-root;
    margin-bottom: 3%;
  }
}