.nav>li{
	padding: 0;
}
.navbar-header{
	float: right;
    margin-left: 1rem;
}

a.navbar-brand{
	color: #FF5A5F!important;
}

.navbar-brand{
	font-size: 24px!important;
}

.navbar-nav {
	display: inline-block !important;
}

.navbar-nav>li>a{
    font-size: 16px!important;
}

#blogButton {
	background-color: #101010;
}

#navbarBlog a {
	color: #b55d6b;
	font-size: 18px;
}

#navbarBlog a:hover {
	color: #b55d6b;
}

.navbar-inverse .navbar-text{
	color: white;
}

.navbar-nav>li>a{
	text-align: right!important;
}

.navbar-text {
   	margin-bottom: 0;
   	margin-top: 6px;
}

#navHello{
    background-image: none;
    background-color: transparent;
}

@media only screen and (max-width: 765px){
	.navbar-header{
		float: inherit;
	}

	a.navbar-brand{
		float: right;
	}

	p#navbarBlog.navbar-text{
		margin-bottom: 1rem;
	}
}