#userInfo:before{
	font-family: 'FontAwesome' !important;
  color: #000000;
  padding-left: 5px;
  vertical-align: middle;
  display: inline-block;
   content: "\f007";
}

#orderInfo:before{
	font-family: 'FontAwesome' !important;
    color: #000000;
    padding-left: 5px;
    vertical-align: middle;
    display: inline-block;
    width: 1.5em;
    content: url("/static/images/profile/delivery-list.svg");
}

#orderInfo:hover:before{
    content: url("/static/images/profile/delivery-list-red.svg");
}

.active>#orderInfo:before{
    content: url("/static/images/profile/delivery-list-red.svg");
}

#userInfo:hover:before{
  color: #FF5A5F!important;
}

.nav-pills>li.active>a, .nav-pills>li.active>a:focus, .nav-pills>li.active>a:hover{
	color: #FF5A5F;
	background-color: transparent;
}

.nav-pills>li.active>a:before{
	color: #FF5A5F!important;
}

.nav>li>a:focus, .nav>li>a:hover{
	color: #FF5A5F;
	background-color: transparent;
}

#userInfoHeader{
	font-size: 10.5em!important;
    color: black;
}

.profileInput {
  float: right;
}

#profileInfo>.row>.col-md-4, #profileInfo>.row>.col-md-8, #profileInfo>.row>.col-md-6{
  padding-right: 2px!important;
  padding-left: 2px!important;
}

#profileInfo>.row{
  margin-top: 0.5em;
}

.inputWrapper { position: relative; }
.inputWrapper input { text-indent: 30px;}
.inputWrapper>span { 
  position: absolute;
  top: 10px;
  right: 10px;
}

input[readonly]
{
    background-color:#e2e2e2;
}

input[type=file]
{
    background-color:white;
}

#imagePreview{
  width: 100%;
  height: 14em;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: 50% 50%;
}

#profileInfo input[type="password"]{
  width: 100%;
  font-size: 14px;
}

.numberValidation:valid {
    color: green;
}
.numberValidation:invalid {
    color: red;
}

.reservationOrderButton {
  margin: 4px;
  border-radius: 30px;
}