.checkedOptionDetail:before {
  content: '\2714';
}

.uncheckedOptionDetail:after {
  content: '\2716';
}

.finalize-reservation-image {
	box-shadow: 0 1px 0px 0 rgba(0,0,0,0.2);
    border-radius: 5%;
    border: 10px solid #e6e6e6;
    width: 12em;
    height: 8em;
    background-size: cover;
}

.finalize-reservation-price {
	color: #FF5A5F;
}

.finalize-reservation-button {
	margin: 1%;
}

#reservationQueueBreadcrumb {
  padding: 10px 16px;
  list-style: none;
}

#reservationQueueBreadcrumbLi {
  display: inline;
  cursor: initial;
}