#mainPageNavbar{
    background-color: transparent;
    border-color: transparent;
    background-image: none;
    background:linear-gradient(to bottom, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0)) !important;
    border: none;
}

#logo{
    width: 2em;
}

#mainPageNavbar>.container-fluid>.navbar-header>.navbar-toggle{
    border: none;
}
#mainPNavbar>.navbar-nav>li>a{
    color: white;
    border-bottom: 2px solid transparent;
}

#mainPNavbar>.navbar-nav>li>a:hover{
    border-bottom: 2px solid #fff;
}

#mainPNavbar{
    padding: 1em;
}

.withBefore::before{
	content: "دنبال چی میگردی؟";
	position: absolute;
    right: 1rem;
    top: -.7rem;
    background: #fff;
    padding: 0 .7rem 0 3rem;
    font-size: 1.5rem;
    line-height: 1.1rem;

}

#userCaret {
    margin-right: 3px;
}

#mainHeaderBlog {
    float: left;
}

#mainHeaderBlog a {
    color: white;
    font-size: 18px;
}

#mainHeaderBlog .btn {
    padding-top: 10px;
}

.grow { transition: all .5s ease-in-out; }
.grow:hover { transform: scale(1.2); }

ul#searchDropdown{
    width: 100%;
    height: 135%;
    overflow-y: scroll;
    text-align: right!important;
}

li{
    padding: 0.5em;
    cursor: pointer;
}

.dropdown-menu li:hover{
    background-image: linear-gradient(to bottom,#f5f5f5 0,#e8e8e8 100%);

}

.dropdown-content {
    position: absolute;
    width: 100%;
    overflow: auto;
    border: 1px solid #ddd;
    border-radius: 0 0 7px 7px;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    background-color: white;
}

.dropdown a:hover {background-color: #ddd}


#where::before{
	content: "کجا دنبالش میگردی؟";
}

input::placeholder{
	color: #aaaaaa;
	font-family: BYekan;
}

.bannerGrayCover{
    background-color: rgba(0, 0, 0, 0.42);
    overflow: hidden;
    height: 100%;
    z-index: 2;
}

.banner{
	background-image: url("../images/homePage/header.JPG");
    background-size: cover;
    background-repeat: no-repeat;
    background-color: #dfdfdf;
    background-position: 50% 50%;
    position: relative;
    height: 56rem;
}
.withBefore{
	height: 100%;
    position: relative;
    -webkit-transition: opacity .3s;
    -o-transition: opacity .3s;
    transition: opacity .3s;
    border: 1px solid #ddd;
	border-radius: 0.7rem; 
	width: 45%;
	float: right; 
}
.searchInput {
    font-size: 1.8rem; 
    padding-right: 2rem;
    border: none; 
    height: 7.5rem;
	outline: none;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    width: 100%;
    background-color: transparent;
}

.searchInput:focus {
    outline:none !important;
}

#searchButton {
    background-color: #FF5A5F;
    width: 10%;
    height: 7.5rem;
    border-radius: .7rem;
    margin: 0;
    padding: 0;
    border: 0;
    vertical-align: baseline;
}

#searchDiv{
	border-radius: 0.7rem;
	padding: 15px;
	background-color: white;
}

.fa-search:before {
    color: white;
    font-size: 3rem;
}

.qualityInsuranceIcons {
    margin: 0 2%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 3%;
    text-align: center;
}

.qualityInsuranceIcons>li {
    color: white !important;
    padding: 1% 2%;
    width: 20%;
    cursor: unset;
}


#backup24:before{
    font-family: 'FontAwesome' !important;
    content: "\f017";
    display: block;
    font-size: 5rem;
}

#moneyGuarantee:before{
    font-family: 'FontAwesome' !important;
    content: "\f0d6";
    display: block;
    font-size: 5rem;
}

#checkPerson:before{
    font-family: 'FontAwesome' !important;
    content: "\f007";
    display: block;
    font-size: 5rem;
}

#hostTraining:before{
    font-family: 'FontAwesome' !important;
    content: "\f058";
    display: block;
    font-size: 5rem;
}

#qualityInsurance:before{
    font-family: 'FontAwesome' !important;
    content: "\f002";
    display: block;
    font-size: 5rem;
}

@media only screen and (max-width: 1000px){
    .withBefore{
        width: 100%;
        margin-top: 3%;
        margin-bottom: 3%;
    }

    #searchButton {
        width: 100%;
    }

    #titleBoxDiv{
        text-align: center;
    }

    .withBefore::before{
        font-size: 1.5rem;
    }

    .banner{
        height: 78rem;
    }
}

@media only screen and (max-width: 700px){
    .qualityInsuranceIcons>li{
        width: 33%;
    }

    .banner{
        height: 85rem;
    }
}


@media only screen and (max-width: 500px){
    .searchInput {
        height: 5.5rem;
    }

    #searchButton {
        height: 6rem;
    }

    .banner{
        height: 69rem;
    }

    .qualityInsuranceIcons>li>span:before{
        font-size: 3rem !important;
    }
}
