.carousel{
	width: 100%;
  margin:0 auto;
  margin-top: 5rem;
  height: 100%;
}
.slick-slide{
  margin:0.1rem;
}
.slick-slide img{
  width: auto!important;
  flex: 0 0 auto!important;
  height: 36vw;
    margin: auto;
  /*margin-right: 3px;*/
  max-width: none;
}

.slick-next::before, .slick-prev::before{
    color: #000;
    opacity: .6;
    font-size: 4rem;
    height: 30px;
}

.slick-next, .slick-prev{
    z-index: 999;
}

.slick-prev{
    right: 25px!important;
}

.slick-next{
    left: 10px!important;
}

.slick-next:hover::before, .slick-prev:hover::before{
    opacity: 1;
}

.slick-track{
    display: flex;
}

.slick-slide{
    display: grid!important;
    height: auto;
    align-items: center;
}

@media only screen and (max-width: 800px){
	.slick-slide img{
	  height: 40vw;
	}
}

@media only screen and (max-width: 700px){
	.slick-slide img{
	  height: 45vw;
	}
}

@media only screen and (max-width: 600px){
	.slick-slide img{
	  height: 50vw;
	}
}

@media only screen and (max-width: 500px){
	.slick-slide img{
	  height: 55vw;
	}
}

@media only screen and (max-width: 400px){
	.slick-slide img{
	  height: 60vw;
	}
}