.front-page-section#top-list {
	height: 575px;
}

.toplist {
	display: flex;
	list-style-type: none;
	justify-content: center;
    margin: 0;
    padding : 0;
}

.toplist-card-div {
	margin: 20px;
	box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    border-radius: 8px;
	height: 310px;
	background-color: white;
}

.toplist-card-div:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.toplist-gallery-card {
	width: 25%;
}

.toplist-card {
	text-decoration: none;
	color: #FF5A5F;
}

.toplist-card:hover {
	color: #FF5A5F;
	text-decoration: none;
}

.toplist-card-image {
	border-radius: 8px 8px 0 0;
	height: 60%;
	width: 100%;
	object-fit: cover;
}

.toplist-card-info {
    padding: 2% 5%;
    height: 40%;
    position: relative;
}

.toplist-card-title{
    font-size: 2.5rem;
	text-decoration: none;
	color: #FF5A5F;
	white-space: nowrap;
	text-overflow: ellipsis;
    overflow: hidden;
    width: 100%;
}

.toplist-card-explanation {
	color: #ababab;
	font-size: 1.6rem;
	padding-top: 4%;
	white-space: nowrap;
	text-overflow: ellipsis;
	overflow: hidden;
}

.toplist-card-location {
    display: flex;
    white-space: nowrap;
	text-overflow: ellipsis;
	overflow: hidden;
	width: 90%;
	position: absolute;
	bottom: 0;
	font-size: 1.7rem;
}

.toplist-card-location i {
    padding-left: 5px;
}

.toplist-card-location p {
    color: #9a9494;
}

@media only screen and (max-width: 1400px){
	.front-page-section#top-list{
		height: 910px;
	}

	.toplist {
		display: flex;
    	flex-wrap: wrap;
    	padding: 0 8%;
	}

	.toplist-gallery-card {
		width: 48%;
    	margin: 0 1% 0 1%;
    	max-width: 400px;
	}

	.toplist-card-div {
		height: 315px;
	}
}

@media only screen and (max-width: 1100px){
	.toplist {
		padding: 0 2%;
	}
}

@media only screen and (max-width: 800px){
	.front-page-section#top-list {
		height: 1580px;
		
		/* change place of HowItWorks and TopList */
		background-color: #F9F9F3;
  		border-bottom: 1px solid rgba(0, 0, 0, 0.075);
  		border-top: 1px solid rgba(0, 0, 0, 0.075);
	}

	.toplist-wrap {
		max-width: 100%;
	}

	.toplist {
		display: block;
	}

	.toplist-gallery-card {
		margin: auto;
		width: 100%;
		max-width: 420px;
		margin-bottom: 38px;
	}
}

@media only screen and (max-width: 550px) {
	.toplist-gallery-card {
		min-width: 280px;
	}
}

@media only screen and (max-width: 520px) {
	.front-page-section#top-list {
		height: 1570px;
	}
}

@media only screen and (max-width: 470px){
	.front-page-section#top-list {
		height: 335vw;
	}

	.toplist-card-div {
		height: 68vw;
	}

	.toplist-card-explanation {
		padding-top: 3%;
	}
}

@media only screen and (max-width: 440px){
	.front-page-section#top-list {
		height: 340vw;
	}

	.toplist-card-explanation {
		padding-top: 3%;
	}
}

@media only screen and (max-width: 420px){
	.toplist-card-explanation {
		padding-top: 2%;
	}
}

@media only screen and (max-width: 390px){
	.front-page-section#top-list {
		height: 365vw;
	}

	.toplist-card-div {
		height: 73vw;
	}
}

@media only screen and (max-width: 380px){
	.toplist-card-explanation {
		padding-top: 1%;
	}
}

@media only screen and (max-width: 340px){
	.front-page-section#top-list {
		height: 375vw;
	}

	.toplist-card-explanation {
		padding-top: 0;
	}
}

@media only screen and (max-width: 330px){
	.toplist-card-explanation{
		font-size: 1.5rem;
	}

	.toplist-card-location {
	    font-size: 1.5rem;
	}
}